<?xml version="1.0" encoding="UTF-8"?>
<web-app id="box-web" metadata-complete="true" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xml="http://www.w3.org/XML/1998/namespace"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd ">

	<!-- 返回一个json <servlet-mapping> <servlet-name>DispatcherServlet</servlet-name> 
		<url-pattern>/*</url-pattern> </servlet-mapping> -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
